.settings-container {
    width: 650px;
    height: 60vh;
    min-height: 450px;
    display: flex;
    flex-direction: column;
}

.settings-group {
    padding: 4px 8px;
}

.settings-title:before {
    height: 1px;
    position: absolute;
    background-color: var(--white-color);
    content: "";
    left: 0px;
    right: 0px;
    top: 50%;
}

.settings-title {position: relative;}

.setting-title-text {
    transform: translateX(40px);
    background-color: var(--background-color);
    display: inline-block;
    padding: 0 8px;
}

.setting {
    display: flex;
    align-items: center;
    margin: 6px 0;
}

.settings-content {
    display: flex;
    justify-content: space-between;
    padding: 6px 12px 0;
    flex-wrap: wrap;
}

.setting-label {padding-right: 12px;}

.setting-dropdown {
    background-color: var(--alt-color);
    cursor: pointer;
    z-index: 10;
    width: 120px;
    text-align: center;
}

.setting-dropdown-group {
    /* display: none; */
    position: absolute;
    background-color: var(--alt-color);
    width: 112px;
    padding: 4px;
}

.setting-dropdown-value.selected {
    border-bottom: 2px solid var(--white-color);
    padding: 3px 12px;
}

.setting-dropdown-value.selectable {
    padding: 3px 4px;
    border-bottom: 1px solid white;
}

.setting-dropdown-value.selectable:hover {
    background-color: var(--background-color);
}

.setting-dropdown-value.selectable:last-child {
    border: none;
}

.setting-checkbox {
    border: 1px solid var(--white-color);
    width: 10px;
    height: 10px;
    transition: transform .3s ease, width .3s ease, border-top-color .2s ease, border-left-color .2s ease, margin-right .2s ease;
    cursor: pointer;
}

.setting-checkbox.checked {
    transform: rotate(45deg);
    width: 4px;
    border-top-color: transparent;
    border-left-color: transparent;
    margin-right: 3px;
}

.setting-text {
    background-color: var(--alt-color);
    padding: 3px 5px 5px;
    border-bottom: 0px solid var(--white-color);
    min-width: 300px;
    max-width: 450px;
    font-size: 0.9em;
}

.setting-text:focus {
    border-bottom-width: 2px;
    padding-bottom: 3px;
}